/* #wrapper {
    width: 80%;
    max-width: calc(100% - 4em);
    margin: 0 auto;
} */

#header {
    padding: 1em 1em 0.3em 1em;
    text-align: center;
    border-radius: 0em;
    /* background-color: darkslategrey; */
    color: white;

    background: rgb(47, 79, 79);
    background: -moz-linear-gradient(45deg, rgba(47, 79, 79, 1) 42%, rgba(39, 158, 158, 1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(47, 79, 79, 1) 42%, rgba(39, 158, 158, 1) 100%);
    background: linear-gradient(45deg, rgba(47, 79, 79, 1) 42%, rgba(39, 158, 158, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f4f4f", endColorstr="#279e9e", GradientType=1);
}

#header h2, h3 {
    margin: 0%;
}

body {
    margin: 0%;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

#main {
    background-color: #ffffff;
    color: #636363;
    border-radius: 0em 0em 0.25em 0.25em;
    width: 80%;
    max-width: calc(100% - 4em);
    margin: 0 auto;
    padding-bottom: 80px;
}

/* #main>.main {
    padding: 5em 1em 0em 1em;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
} */

.First {
    padding: 1em 5em 1em 5em;

}

#family_walk {
    width: 100%;
    display: block;
}

#banner {
    position: relative;

}

#text-block {
    width: 20%;
    max-height: calc(100% - 5em);
    position: absolute;
    top: 20%;
    right: 25%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with 50% opacity */
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 0.85vw;
}

#text-block p {
    opacity: 1;
}

.Second {
    padding: 1em 5em 1em 5em;

}

.Intro {
    padding: 1em 5em 1em 5em;
}

.Footer {
    padding: 0.5em 5em 1em 5em;
    color: black;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

/* .line{
    fill: black;
    stroke: black;
    stroke-width: 0.5;
} */

#chloro_scale {
    width: 15%;
    display: inline-block;
    vertical-align: middle;
}

div.chloro svg {

    display: block;
    stroke-width: 4;
    border-radius: 4px;
}

.chart-child {
    display: inline-block;
    vertical-align: middle;
    width: max-content;
    /* Sets the width of the div to match its content */
}

/* .chart-child2 {
    display: inline-block;
    vertical-align: middle;
    width: max-content;
    height: max-content;
    Sets the width of the div to match its content
} */

#reset{
    background-color: rgb(47, 79, 79);
    border-radius: 5px;
    color: #ffffff;
    padding: 10px;
}

#reset:hover {
    background-color: rgb(34, 57, 57);
}
.chloro {
    width: fit-content;

}

#chloro {
    background-color: #f2ffff;
    border-style: solid;
    border-width: 4px;
    border-color: #0a192f;
}

.content {
    margin: 1em;
}

/* Custom styles for the slider */
input[type="range"] {
    -webkit-appearance: none;
    -moz-apperance: none;
    appearance: none;
    height: 10px;
    width: 900px;
    background: #aaaaaa;
    /* Track color */
    border-radius: 5px;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ffffff;
    /* Thumb color */
    border: 1px solid #999999;
    border-radius: 50%;
    cursor: pointer;
}

nav {
    background-color: #333;
}

div #nav {
    width: 80%;
    margin: 0 auto;

}

ul {
    padding: 0em 5em 0em 5em;

    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    max-width: calc(100% - 4em);
    margin: 0 auto;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(#active) {
    background-color: #111;
}

li #active {
    background-color: #008b8b;
}

.chart-text{
    width: 50%;
    max-height: calc(100% - 5em);
    /* Black background with 50% opacity */
    padding: 20px;
    border-radius: 10px;
    font-size: 0.85vw;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 2%;

}

.Section{
    padding-bottom: 2%;
}
/* Optional: Add additional styling as needed */

.note{
color: rgb(193, 80, 101);
font-size: 0.75vw;
}